*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    background-color: black;
    justify-content:space-between;
    align-items: center;
    padding: 30px 90px;
    height: 90px;
}

.list{
     filter: invert(1); 
     display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
    margin-left:70px;
    font-size: 16px;
    font-weight: 500; 
    margin-left: 60px;
    
 
}

.line{
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin-left: 0px;
}
.grow-list {
    flex-grow:1;
}

.small-button{
    padding: 10px 20px;
    background: #ba0cc5;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

img{
    height: 40px;
    width: 100 px;
}

.logo,.list-item{
    cursor: pointer;
}
.logo{
margin-right: 10%;    
}

.content{
   background-image: url("../assets/bg.png");
   background-size: cover;
   background-attachment: fixed;
   height: 91.5vh;
   text-align: center;
   
}
.head{
    justify-content: center;
    padding-top: 10%;
    align-items: center;
    margin-left: 5%;
}
 .heading{
        /* padding: 150px; */
        color: #fff;
        max-width: 700px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 800;
        font-size: 55px;
        line-height: 60px;
        text-align: center;
        word-spacing: 8px ;
        justify-content: center;
       
        
    }

.peragraph{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    
} 

.large-button{
    background: #ba0cc5;
  border-radius: 11.2308px;
  font-style: normal;
  font-weight: 600;
  font-size: 29.9487px;
  line-height: 40px;
  color: #ffffff;
  border: none;
  padding: 14px 22px;
  margin-top: 30px;
  cursor: pointer;
}

